transformers==4.30.2
webdataset==0.2.100
wget==3.2
torchlibrosa==0.1.0
braceexpand==0.1.7
sentry-sdk==2.14.0
GitPython==3.1.43
ftfy==6.2.3
setproctitle==1.3.3
smmap==5.0.1
docker-pycreds==0.4.0
gitdb==4.0.11
wandb==0.18.1
tokenizers==0.13.3
google-colab==1.0.0
osqp==0.6.7.post0
google-cloud-bigquery-connection==1.15.5
mistune==0.8.4
mdurl==0.1.2
colorlover==0.3.0
tf-slim==1.1.0
tbb==2021.13.1
pydotplus==2.0.2
music21==9.1.0
yfinance==0.2.43
cuda-python==12.2.1
llvmlite==0.43.0
editdistance==0.8.1
promise==2.3
pickleshare==0.7.5
lxml==4.9.4
multipledispatch==1.0.0
tensorflow-probability==0.24.0
pathlib==1.0.1
yellowbrick==1.5
pymc==5.10.4
malloy==2024.1091
httplib2==0.22.0
GDAL==3.6.4
folium==0.17.0
bqplot==0.12.43
charset-normalizer==3.3.2
kagglehub==0.2.9
proto-plus==1.24.0
tensorboard-data-server==0.7.2
textblob==0.17.1
gspread-dataframe==3.3.1
soundfile==0.12.1
locket==1.0.0
python-utils==3.8.2
geographiclib==2.0
notebook==6.5.5
jupyterlab_widgets==3.0.13
eerepr==0.0.4
google-auth==2.27.0
chardet==5.2.0
duckdb==0.10.3
cons==0.4.6
typeguard==4.3.0
frozenlist==1.4.1
preshed==3.0.9
nvtx==0.2.10
rpy2==3.4.2
arviz==0.18.0
stanio==0.5.1
pandocfilters==1.5.1
tomlkit==0.13.2
scipy==1.13.1
ptyprocess==0.7.0
mpmath==1.3.0
webcolors==24.8.0
colour==0.1.5
contextlib2==21.6.0
Send2Trash==1.8.3
platformdirs==4.3.2
referencing==0.35.1
scikit-image==0.23.2
hyperopt==0.2.7
torchsummary==1.5.1
imutils==0.5.4
tinycss2==1.3.0
soupsieve==2.6
docutils==0.18.1
python-louvain==0.16
imageio==2.34.2
sphinxcontrib-serializinghtml==2.0.0
nbformat==5.10.4
tabulate==0.9.0
py-cpuinfo==9.0.0
branca==0.7.2
cycler==0.12.1
toml==0.10.2
certifi==2024.8.30
logical-unification==0.4.6
python-slugify==8.0.4
snowballstemmer==2.2.0
google-generativeai==0.7.2
Pygments==2.16.1
webencodings==0.5.1
joblib==1.4.2
decorator==4.4.2
greenlet==3.1.0
pandas-gbq==0.23.1
ipyfilechooser==0.6.0
linkify-it-py==2.0.3
sympy==1.13.2
google-cloud-resource-manager==1.12.5
dlib==19.24.2
google-cloud-language==2.13.4
earthengine-api==1.0.0
ipyleaflet==0.18.2
networkx==3.3
aiohappyeyeballs==2.4.0
nest-asyncio==1.6.0
geocoder==1.38.1
jieba==0.42.1
scs==3.2.7
ipyevents==2.0.2
holidays==0.56
python-box==7.2.0
librosa==0.10.2.post1
ratelim==0.1.6
google==2.0.3
db-dtypes==1.3.0
types-pytz==2024.2.0.20240913
docstring_parser==0.16
Markdown==3.7
h5py==3.11.0
plotnine==0.12.4
tensorflow-hub==0.16.1
pyparsing==3.1.4
torch==2.4.0+cu121
Cython==3.0.11
click-plugins==1.1.1
marisa-trie==1.2.0
ipywidgets==7.7.1
grpc-google-iam-v1==0.13.1
CacheControl==0.14.0
patsy==0.5.6
tables==3.8.0
mdit-py-plugins==0.4.2
multitasking==0.0.11
opencv-python-headless==4.10.0.84
srsly==2.4.8
tifffile==2024.8.30
PyOpenGL==3.1.7
optax==0.2.2
tensorstore==0.1.65
PyDrive2==1.6.3
frozendict==2.4.4
py4j==0.10.9.7
contourpy==1.3.0
glob2==0.7
lightgbm==4.4.0
gast==0.6.0
kaggle==1.6.17
iniconfig==2.0.0
matplotlib==3.7.1
sphinxcontrib-jsmath==1.0.1
albucore==0.0.15
beautifulsoup4==4.12.3
Pillow==9.4.0
weasel==0.4.1
graphviz==0.20.3
PyDrive==1.3.1
cloudpickle==2.2.1
cymem==2.0.8
prometheus_client==0.20.0
pydantic_core==2.23.3
google-cloud-aiplatform==1.66.0
urllib3==2.0.7
yarl==1.11.1
pandas==2.1.4
jupyter-console==6.1.0
asn1crypto==1.5.1
ecos==2.0.14
missingno==0.5.2
requests-oauthlib==1.3.1
wasabi==1.1.3
tblib==3.0.0
idna==3.8
pyshp==2.3.1
aiohttp==3.10.5
pyviz_comms==3.0.3
dm-tree==0.1.8
torchvision==0.19.0+cu121
astropy-iers-data==0.2024.9.12.13.29.57
shapely==2.0.6
confection==0.1.5
ipyparallel==8.8.0
tensorflow-datasets==4.9.6
portpicker==1.5.2
Werkzeug==3.0.4
tf_keras==2.17.0
jaxlib==0.4.26+cuda12.cudnn89
prefetch_generator==1.0.3
google-pasta==0.2.0
google-crc32c==1.6.0
dopamine_rl==4.0.9
rpds-py==0.20.0
rich==13.8.1
jupyter_core==5.7.2
wcwidth==0.2.13
async-timeout==4.0.3
imagesize==1.4.1
pyOpenSSL==24.2.1
pyerfa==2.0.1.4
lazy_loader==0.4
snowflake-connector-python==3.12.2
miniKanren==1.0.3
attrs==24.2.0
ipython==7.34.0
sqlglot==20.11.0
opencv-python==4.10.0.84
parsy==2.1
inflect==7.3.1
ipykernel==5.5.6
entrypoints==0.4
google-cloud-translate==3.15.5
text-unidecode==1.3
colorcet==3.1.0
statsmodels==0.14.2
google-cloud-bigtable==2.26.0
grpcio==1.64.1
imbalanced-learn==0.12.3
google-api-core==2.19.2
gdown==5.1.0
nbclassic==1.1.0
panel==1.4.5
opencv-contrib-python==4.10.0.84
bleach==6.1.0
jax==0.4.26
thinc==8.2.5
dask==2024.7.1
google-cloud-storage==2.8.0
cffi==1.17.1
et-xmlfile==1.1.0
cmdstanpy==1.2.4
xyzservices==2024.9.0
traittypes==0.2.1
grpcio-status==1.48.2
pytensor==2.18.6
numexpr==2.10.1
blosc2==2.0.0
jsonschema-specifications==2023.12.1
six==1.16.0
xlrd==2.0.1
flatbuffers==24.3.25
widgetsnbextension==3.6.9
wordcloud==1.9.3
polars==0.20.2
pooch==1.8.2
language_data==1.2.0
multidict==6.1.0
easydict==1.13
nltk==3.8.1
jsonpickle==3.3.0
partd==1.4.2
langcodes==3.4.0
openpyxl==3.1.5
google-cloud-firestore==2.16.1
gym==0.25.2
plotly==5.15.0
sphinxcontrib-devhelp==2.0.0
peewee==3.17.6
google-cloud-bigquery-storage==2.26.0
progressbar2==4.2.0
google-api-python-client==2.137.0
pydata-google-auth==1.8.2
parso==0.8.4
chex==0.1.86
mlxtend==0.23.1
libclang==18.1.1
h5netcdf==1.3.0
google-cloud-iam==2.15.2
seaborn==0.13.1
matplotlib-inline==0.1.7
proglog==0.1.10
qdldl==0.1.7.post4
importlib_metadata==8.5.0
backcall==0.2.0
geopandas==0.14.4
jupyterlab_pygments==0.3.0
xarray==2024.9.0
tzdata==2024.1
prompt_toolkit==3.0.47
tqdm==4.66.5
safetensors==0.4.5
fiona==1.10.0
en-core-web-sm==3.7.1
vega-datasets==0.9.0
intel-openmp==2024.2.1
einops==0.8.0
sphinxcontrib-applehelp==2.0.0
google-cloud-datastore==2.19.0
cupy-cuda12x==12.2.0
threadpoolctl==3.5.0
rsa==4.9
nbconvert==6.5.4
tensorboard==2.17.0
spacy-legacy==3.0.12
pyarrow-hotfix==0.6
ipython-sql==0.5.0
google-auth-oauthlib==1.2.1
gspread==6.0.2
google-cloud-pubsub==2.23.1
cufflinks==0.17.3
param==2.1.1
filelock==3.16.0
pyproj==3.6.1
argon2-cffi==23.1.0
zipp==3.20.2
pyasn1_modules==0.4.1
tzlocal==5.2
ipython-genutils==0.2.0
tensorflow-metadata==1.15.0
pandas-stubs==2.1.4.231227
blis==0.7.11
PyYAML==6.0.2
tensorflow-io-gcs-filesystem==0.37.1
fastprogress==1.0.3
rmm-cu12==24.4.0
tensorflow==2.17.0
Sphinx==5.0.2
cudf-cu12==24.4.1
oauthlib==3.2.2
pydot==1.4.2
namex==0.0.8
imageio-ffmpeg==0.5.1
nibabel==5.0.1
Jinja2==3.1.4
pexpect==4.9.0
anyio==3.7.1
community==1.0.0b1
StrEnum==0.4.15
cmake==3.30.3
etuples==0.3.9
astropy==6.1.3
murmurhash==1.0.10
atpublic==4.1.0
more-itertools==10.3.0
mizani==0.9.3
fastai==2.7.17
array_record==0.5.1
mkl==2024.2.1
ibis-framework==8.0.0
termcolor==2.4.0
bigframes==1.17.0
fonttools==4.53.1
imgaug==0.4.0
matplotlib-venn==0.11.10
PyJWT==2.9.0
fastrlock==0.8.2
pytest==7.4.4
spacy-loggers==1.0.5
datascience==0.17.6
prophet==1.1.5
terminado==0.18.1
prettytable==3.11.0
xgboost==2.1.1
absl-py==1.4.0
cachetools==5.5.0
soxr==0.5.0.post1
defusedxml==0.7.1
cligj==0.7.2
python-dateutil==2.8.2
altair==4.2.2
immutabledict==4.2.0
orbax-checkpoint==0.6.3
future==1.0.0
zict==3.0.0
geopy==2.4.1
scikit-learn==1.3.2
toolz==0.12.1
websocket-client==1.8.0
google-cloud-functions==1.16.5
wrapt==1.16.0
itsdangerous==2.2.0
notebook_shim==0.2.4
tweepy==4.14.0
pyasn1==0.6.1
google-cloud-core==2.4.1
protobuf==3.20.3
googledrivedownloader==0.4
kiwisolver==1.4.7
cvxpy==1.5.3
distributed==2024.7.1
sklearn-pandas==2.2.0
cloudpathlib==0.19.0
tornado==6.3.3
astunparse==1.6.3
pytz==2024.2
cvxopt==1.3.2
bigquery-magics==0.2.0
bokeh==3.4.3
google-auth-httplib2==0.2.0
pygame==2.6.0
pymystem3==0.2.0
pycocotools==2.0.8
optree==0.12.1
uritemplate==4.1.1
pyarrow==14.0.2
catalogue==2.0.10
traitlets==5.7.1
simple-parsing==0.1.6
babel==2.16.0
shellingham==1.5.4
psycopg2==2.9.9
autograd==1.7.0
sqlparse==0.5.1
pluggy==1.5.0
fastdownload==0.0.7
tenacity==9.0.0
sentencepiece==0.1.99
debugpy==1.6.6
numba==0.60.0
keras==3.4.1
googleapis-common-protos==1.65.0
gym-notices==0.0.8
html5lib==1.1
geemap==0.34.1
pydot-ng==2.0.0
accelerate==0.34.2
typer==0.12.5
etils==1.9.4
bidict==0.23.1
sortedcontainers==2.4.0
spacy==3.7.6
nvidia-nccl-cu12==2.23.4
pyzmq==24.0.1
google-resumable-media==2.7.2
pycparser==2.22
fsspec==2024.6.1
scooby==0.10.0
sniffio==1.3.1
sphinxcontrib-htmlhelp==2.1.0
argon2-cffi-bindings==21.2.0
holoviews==1.18.3
moviepy==1.0.3
gensim==4.3.3
gin-config==0.5.0
MarkupSafe==2.1.5
importlib_resources==6.4.5
exceptiongroup==1.2.2
SQLAlchemy==2.0.34
jupyter-client==6.1.12
markdown-it-py==3.0.0
humanize==4.10.0
pydantic==2.9.1
fastjsonschema==2.20.0
google-ai-generativelanguage==0.6.6
PySocks==1.7.1
audioread==3.0.1
jsonschema==4.23.0
xarray-einstats==0.7.0
gcsfs==2024.6.1
firebase-admin==6.5.0
jupyter-server==1.24.0
psutil==5.9.5
alabaster==0.7.16
Flask==2.2.5
numpy==1.26.4
flax==0.8.4
httpimport==1.3.1
smart-open==7.0.4
ml-dtypes==0.4.0
jellyfish==1.1.0
cryptography==43.0.1
uc-micro-py==1.0.3
natsort==8.4.0
intel-cmplr-lib-ur==2024.2.1
oauth2client==4.1.3
pandas-datareader==0.10.0
google-cloud-bigquery==3.25.0
aiosignal==1.3.1
nbclient==0.10.0
ipytree==0.2.2
sphinxcontrib-qthelp==2.0.0
requests==2.32.3
huggingface-hub==0.24.7
typing_extensions==4.12.2
torchaudio==2.4.0+cu121
pyperclip==1.9.0
albumentations==1.4.15
clarabel==0.9.0
msgpack==1.0.8
fastcore==1.7.5
opt-einsum==3.3.0
annotated-types==0.7.0
regex==2024.5.15
eval_type_backport==0.2.0
pynvjitlink-cu12==0.3.0
python-apt==2.4.0
packaging==24.1
wheel==0.44.0
pip-tools==7.4.1
tomli==2.0.1
click==8.1.7
build==1.2.2
setuptools==71.0.4
requirements-parser==0.9.0
types-setuptools==74.1.0.20240907
pyproject_hooks==1.1.0
pip==24.1.2
blinker==1.4
PyGObject==3.42.1
python-apt==2.4.0+ubuntu4
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
six==1.16.0
keyring==23.5.0
jeepney==0.7.1
dbus-python==1.2.18
distro==1.7.0
SecretStorage==3.3.1
launchpadlib==1.10.16
wadllib==1.3.6
